body {
    margin: 0;
    padding: 0;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;
}


/*** Zone centrale ---------------------------------------------------------------*/

#options {
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border: none;
    background-color: transparent;

    img {
        width: 10vh;
        transition: all 200ms;
    }
}

#options:hover img {
    width: 12vh
}

.road {
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100vw;
    height: 2vh;
    background: linear-gradient(90deg, rgb(180, 140, 70, 1), rgb(240, 210, 130, 1) 15%, rgb(180, 140, 70, 1) 45%, rgb(180, 140, 70, 1) 55%, rgb(240, 210, 130, 1) 85%, rgb(180, 140, 70, 1))
}

.token {
    z-index: 8;
    position: absolute;

    img {
        height: 12vh;
    }
}

#hero {
    top: 50%;
    left: 50%;

    img {
        translate: -25vw -50%;
    }
}

#compagnon {
    top: 50%;
    right: 50%;

    img {
        translate: 25vw -50%;
    }
}

.arrow {
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 9;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 10%;

    img {
        height: 5vh;

    }
}

#aPlayerArrowRight img {
    translate: 15vw 4vh;
    animation: infinite alternate 2s slideARight;
}

#bPlayerArrowRight img {
    translate: 15vw -4vh;
    animation: infinite alternate 2s slideBRight;
}

#aPlayerArrowLeft img {
    translate: -15vw 4vh;
    animation: infinite alternate 2s slideALeft;
}

#bPlayerArrowLeft img {
    translate: -15vw -4vh;
    animation: infinite alternate 2s slideBLeft;
}

@keyframes slideARight {
    from {
        translate: 15vw 4vh;
    }

    to {
        translate: 13vw 4vh;
    }
}

@keyframes slideBRight {
    from {
        translate: 15vw -4vh;
    }

    to {
        translate: 13vw -4vh;
    }
}

@keyframes slideALeft {
    from {
        translate: -15vw 4vh;
    }

    to {
        translate: -13vw 4vh;
    }
}

@keyframes slideBLeft {
    from {
        translate: -15vw -4vh;
    }

    to {
        translate: -13vw -4vh;
    }
}

/*** Players areas -------------------------------------------------------------------*/

.playerArea {
    box-sizing: border-box;
    width: 100vw;
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 4fr 1fr;
    gap: 1em;
    padding-top: 3em;
}

#bPlayerArea {
    transform: rotate(180deg);
}



/*** Zone boosts */

.boost {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    gap: 1em;
    padding: 1em;

    button {
        border: none;
        background-color: transparent;

        img {
            width: 90%;
        }
    }
}


/*** Zone reset */

#aPlayerReset,
#bPlayerReset {
    padding: 1em;
    border: none;
    background-color: transparent;

    img {
        width: 70%;
        transform: rotate(0);
        transition: all 500ms;
    }

    .rotation {
        transform: rotate(360deg);
    }
}


/*** Zone values */

.area {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    align-content: center;
    padding: 1em 0;
}

.value {
    color: white;
    font-size: 12vh;
    text-align: center;
    text-shadow: 0 0.1em 0 rgb(0, 0, 0, 0.5);
    align-content: center;
    border-radius: 10%;
}

.higter {
    -webkit-text-stroke: 5px black;
    text-shadow: 0 0.1em 0 black;
}

.modify {
    font-size: 8vh;
    border: none;
    background-color: transparent;
}

.plante {
    background-color: #b8c248;
    box-shadow: 0 0.1em 0 #5c6124;
    border: 5px solid rgb(0, 0, 0, 0.5);
}

.mPlante {
    color: #b8c248;

}

.terre {
    background-color: #db8d4b;
    box-shadow: 0 0.1em 0 #6d4625;
    border: 5px solid rgb(0, 0, 0, 0.5);
}

.mTerre {
    color: #db8d4b;
}

.eau {
    background-color: #6898c9;
    box-shadow: 0 0.1em 0 #344c64;
    border: 5px solid rgb(0, 0, 0, 0.5);
}

.mEau {
    color: #6898c9;
}

.off {
    opacity: 20%;
}


/*** fenêtres des options */

#optionsWindow {
    box-sizing: border-box;
    width: 90vw;
    height: 90vh;
    position: absolute;
    top: 5vh;
    left: 5vw;
    z-index: 20;
    background-color: transparent;
    border-radius: 2em;
    border: 10px solid white;
    backdrop-filter: blur(50px);
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    padding: 2vh 2vw 2vh 5vw;

    h1 {
        position: absolute;
        top: 50%;
        left: 0;
        transform: rotate(90deg);
        translate: -7.5vw -50%;
        color: white;
        font-size: 5vw;
        text-transform: uppercase;
        padding: 0;
        margin: 0;
    }
}

#close {
    box-sizing: border-box;
    padding: 0.3em;
    margin: 0;
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 3em;
    border-radius: 100%;
    background-color: white;
    border: none;
    translate: 50% -50%;
    transition: all 200ms;
}

#close:hover {
    padding: 0.5em;
}

.theme {
    box-sizing: border-box;
    border-radius: 100%;
    border: 5px solid white;
    width: 90%;
    aspect-ratio: 1 / 1;
    box-shadow: inset 0 0 2vh rgb(0, 0, 0, 0.5);
}
#aPlayerBlack, #bPlayerBlack, .backgroundBlack{
    background-color: black ;
    background: linear-gradient(90deg,#000000, rgb(49, 49, 49), #000000);
    box-shadow: inset 0 2vh 0 black;
}
#aPlayerWhite, #bPlayerWhite, .backgroundWhite{
    background: linear-gradient(90deg,#b8b8b8, white, #b8b8b8);
    background-color: white ;
    box-shadow: inset 0 2vh 0 #b8b8b8;
}
#aPlayerAxiom, #bPlayerAxiom, .backgroundAxiom{
    background: url('./img/AXIOM-faction-banner.png') no-repeat top center, linear-gradient(90deg,#593328, #895545, #593328);
    background-size: auto 22vh;
    box-shadow: inset 0 2vh 0 #593328;
}
#aPlayerBravos, #bPlayerBravos, .backgroundBravos{
    background: url('./img/BRAVOS-faction-banner.png') no-repeat top center, linear-gradient(90deg,#820618, #bd3736, #820618);
    background-size: auto 22vh;
    box-shadow: inset 0 2vh 0 #820618;
}
#aPlayerLyra, #bPlayerLyra, .backgroundLyra{
    background: url('./img/LYRA-faction-banner.png') no-repeat top center, linear-gradient(90deg,#8b2748, #cf4978, #8b2748);
    background-size: auto 22vh;
    box-shadow: inset 0 2vh 0 #8b2748;
}
#aPlayerMuna, #bPlayerMuna, .backgroundMuna{
    background: url('./img/MUNA-faction-banner.png') no-repeat top center, linear-gradient(90deg,#2f552b, #4e7f3c, #2f552b);
    background-size: auto 22vh;
    box-shadow: inset 0 2vh 0 #2f552b;
}
#aPlayerOrdis, #bPlayerOrdis, .backgroundOrdis{
    background: url('./img/ORDIS-faction-banner.png') no-repeat top center, linear-gradient(90deg,#244154, #0075a0, #244154);
    background-size: auto 22vh;;
    box-shadow: inset 0 2vh 0 #244154;
}
#aPlayerYzmir, #bPlayerYzmir, .backgroundYzmir{
    background: url('./img/YZMIR-faction-banner.png') no-repeat top center, linear-gradient(90deg,#523557, #9960a4, #523557);
    background-size: auto 22vh;
    box-shadow: inset 0 2vh 0 #523557;
}

#aPlayerSettings,
#bPlayerSettings {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    justify-content: space-around;

    h2 {
        grid-column: 1/9;
        padding: 0;
        margin: 0;
        text-align: center;
        color: white;
        font-size: 2em;
    }
}

#bPlayerSettings {
    transform: rotate(180deg);
}
